.wdpa-download-tool {
  background-color: $grey-5;  
  margin-bottom: rem-calc(20);
  padding: rem-calc(24, 20);

  .v-select {
    margin-bottom: rem-calc(20);
    display: inline-block;

    position: relative;

    @include breakpoint($small) {
      margin-right: rem-calc(24);
    }

    &__dropdown {
      margin-left: 0;
      list-style-type: none;
    }

      &__option {
        margin: 0;

        &::before {
          content: none;
        }
      }
  }

  a.wdpa-download-tool__link {
    background-color: $green;
    color: $white;
    line-height: $wdpa-download-tool-select-height;
    padding: 0 rem-calc(60);

    display: inline-block;
    
    &:hover {
      background-color: $green--light;
      cursor: pointer;
    }

    &::after {
      content: none;
    }

    &.button--disabled {
      background-color: $big-button__bg-color--disabled;
    }
  }
}