@include e(row) {
  width: 100%;

  padding-top: rem-calc(16);
  border-bottom: solid rem-calc(1) $info-box-row__border-bottom;

  @include m(around-padding) {
    padding: rem-calc(32 0);
  }

  @include m(light-border) {
    &:not(:last-child) {
      border-bottom: solid rem-calc(1) $grey-15;
    }
  }

  @include m(no-border) {
    border: none;
  }
}

