@include b(alert) {
  @include m(flex) {
    @extend %flexbox;
    @include align-items(flex-start);
  }

  @include m(push) {
    margin-bottom: 2.5rem;
  }

  background-color: $alert__bg-color;
  padding: .625rem;

  @import 'alert/_body';
  @import 'alert/_icon';
  @import 'alert/_title';
}
