@include b(circle-story) {
  height: rem-calc(240);

  @include only-mobile {
    height: initial;
    margin-bottom: rem-calc(32);
  }

  @include m(flex) {
    @include flexbox;
    @include justify-content(flex-start);
    @include flex-direction(column);
    @include align-items(center);
  }

  @import 'circle-story/_body';
  @import 'circle-story/_circle';
  @import 'circle-story/_circle-inner';
  @import 'circle-story/_content';
  @import 'circle-story/_title';
}
