@mixin download-link($color: $download-link__color, $bg-color: $download-link__bg-color) {
  #{&}__download-link {
    @include text--body;
    color: $color;

    cursor: pointer;
  }

  #{&}__download-icon {
    margin-right: $download-icon__margin-right;
  }
}
