@include b(fullscreen-message) {
  text-align: center;

  width: 75%;
  margin: auto;
  margin-top: 7rem;

  @include e(header) {
    @include text--alt(xlarge, x-bold);
    margin-bottom: 1rem;
  }

  @include e(body) {
    @extend %color--base;

    @include text(headline, thin);
    line-height: form-factor(headline, line-height);
  }
}
