.home-carousel-slide {
  color: $white;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__title {
    @include text(headline, thin);

    margin-bottom: rem-calc(14);

    @include breakpoint($small) {
      @include text(large, thin)
    }
  }

  &__description {
    @include text(body, thin);
    
    display: none;

    @include breakpoint($small) {display: block}
  }

  &__link {
    @include text(body, bold);
    line-height: 1;
    margin-top: auto;

    display: flex;
    align-items: center;
    justify-self: flex-end;
  }

  &__link-icon {
    margin-left: rem-calc(4);
  }
}