.key {
  @extend %clearfix;
  
  margin-bottom: rem-calc(6);
  padding-right: rem-calc(12);

  &--hidden {
    visibility: hidden;
  }

  &__item {
    @include flexbox;
    
    color: $key__title-color;
    font-family: 'MuseoSans';
    margin-bottom: rem-calc(18);

    &:first-child { color: $key__title-hover-color; }
  }
    
    &__checkbox {
      cursor: pointer;
      padding-left: rem-calc(32);

      position: relative;

      &:before {
        border: solid rem-calc(1) $grey-33;
        color: $key__tick-color;
        content: "";
        font-size: rem-calc(18);
        font-family: fontAwesome;
        width: rem-calc(20);  height: rem-calc(20);

        display: block;
        position: absolute;
        left: 0;
      }

      &--active:before { content: "\f00c"; }
    }

      &__name {
        color: inherit;
        cursor: pointer;
        font-size: rem-calc(15);
        line-height: 1.2;

        display: block;
        
        &:hover { color: $key__title-hover-color; }
      }

      &__designation {
        color: $grey-77;
        font-size: rem-calc(13);
        font-weight: 300;
      }
}