.key {
  @extend %clearfix;
  @extend .flex-row-wrap;

  padding-right: rem-calc(12);

  &__icon {
    margin-right: rem-calc(8);
    width: rem-calc(30); height: rem-calc(20);

    position: relative;
    top: rem-calc(-3);
  }

  &__title {
    @extend .flex-row;
    @extend .flex-column-3;

    color: $key__title-color;
    cursor: default;
    font-family: 'MuseoSans';
    font-size: rem-calc(15);
    line-height: 1.2;
    margin-bottom: rem-calc(18);

    &:hover { color: $key__title-hover-color; }
  }
}

//--------------------------------------------------------------------------------
// key icon colours
//-------------------------------------------------------------------------------- 
$key-colors-count: 7;

$key-colors:(
  1: $key-color-1,
  2: $key-color-2,
  3: $key-color-3,
  4: $key-color-4,
  5: $key-color-5,
  6: $key-color-6,
  7: $key-color-7,
);

@for $i from 1 to $key-colors-count + 1 {
  .key__title:nth-child(#{$i}) .key__icon {
    background-color: map-get($key-colors, $i);
  }
}