@mixin link-with-icon($color: $link-with-icon__color, $bg-color: $link-with-icon__bg-color, $icon__margin-right: $link-with-icon-icon__margin-right) {
  @include text--body;
  color: $color;

  cursor: pointer;

  @include e(icon) {
    margin-right: $icon__margin-right;
  }

  @include m(no-color) {
    color: inherit;
  }

  @include m(bold) {
    @include text--small-bolder;
  }

  @content;
}

@include b(link-with-icon) {
  @include link-with-icon;
}
