@include b(map) {
  width: $map__width;

  @include m(hero) {
    height: $map--hero__height;
  }

  @include m(main) {
    height: $map--main__height;
  }

  @include m(networks) {
    height: rem-calc(360);

    @include only-desktop { height: $map--networks__height; }
  }

  @include m(double) {
    height: $map--main__height*2;
  }

  @include m(margin-top-bottom) {
    margin: rem-calc(30 0);
  }

  @include leaflet-control-zoom;
  @include leaflet-control-layers;
}
