@include b(pa-card) {
  color: $pa-card-text__color;
  font-size: .9375rem;
  margin-bottom: 2rem;
  padding: 0 1.25rem 1.25rem 1.25rem;

  @include e(name) {
    @extend %acts-as-link;
    @include text(body, bold);

    margin-bottom: .75rem;
  }

  @include e(subtitle) {
    @include text(body);
    color: $pa-card-subtitle__color;
    margin-bottom: 1rem;
  }

  @include e(map) {
    margin-bottom: 1rem;
  }

  @include e(details) {
    border-bottom: solid 1px $pa-card-border-bottom__color;
    padding-bottom: .25rem;
  }

  @include e(detail) {
    @include text(body);
    font-size: inherit;
    margin-bottom: .75rem;

    @include m(inline) {
      float: left;
      &:not(:last-child) {
        padding-right: 1rem;
        border-right: solid 1px $pa-card-detail-border-right__color;
      }
      &:not(:first-child) {
        padding-left: 1rem;
      }
    }
  }

  @include e(detail-link) {
    @extend %acts-as-link;
    @include font-weight(thin);

    font-family: 'MuseoSlab';
  }
}

