@mixin value($number__color: $value-number__color, $number-alt-color__color: $value-number-alt-color__color) {
  @include b(value) { $block: &;
    position: relative;

    @include e(number) {
      @include color($number__color);
      @include text--alt(medium, bold);

      @include m(inherit)   { font: inherit;                            }
      @include m(xxlarge)   { @include text--alt(xxlarge, bold);        }
      @include m(xxxxlarge) { @include text--alt(xxxxlarge, bold);      }
      @include m(large)     { @include text(xlarge, bold);              }

      @include m(alt-color) { @include color($number-alt-color__color); }
    }

    @include e(label) {
      @extend %color-base;
      @include text(body, thin);

      @include m(right) {
        float: right;
      }

      @include m(side) {
        margin: 0 1rem;

        width: 50%;
        bottom: 0;
        position: absolute;
      }
    }
  }
}

@include value;
