@include b(article) {
  padding: {
    left: 1rem;
    right: 1rem;
  }

  @include e(title) {
    margin-bottom: 2.5rem;
    @include text(xxlarge, thin);
    @include color($color--base);

    @include m(paragraph) {
      margin-bottom: 2rem;

      @include text(medium);
      @extend %color-base;
    }

    @include m(smaller) {
      @include text(xlarge, thin);
    }
  }

  @include e(paragraph) {
    margin-bottom: 2rem;

    @include text(body, thin);
    @extend %color-base;

    @include m(bigger) {
      @include text--alt(headline, thin);
    }
  }

  @include e(bold-text) {
    @include text--alt(body, bold);
  }

  @include e(link) {
    @include text(body, thin);
    @include color($green);
  }
}
