@include b(footer) {
  @extend %flexbox;
  @include align-items(center);

  width: 100%;

  padding-left: rem-calc(24);

  @include only-mobile {
    padding: rem-calc(16 20);
  }


  font-size: 0.938em;
  background-color: $navbar__bg-color;

  @include e(element) {
    @include m(right) {
      // this is insane
      &:nth-child(2) { margin-left: auto; }
    }
    @include m(with-separator) {
      padding-left: rem-calc(16);
      border-left: solid rem-calc(2) $footer-element-with-separator__border-left-color;
    }

    @include only-desktop {
      margin-right: rem-calc(16);
    }

    @include m(logos) {
      min-width: rem-calc(80);
    }

    @include color($navbar-element__color);

    @include text(body);
    @include line-height(null);
  }
}
