@include b(form) {
  @include text(body);
  @extend %color-base;

  @include e(label) {
    @include text(body, bold);

    display: block;
    margin-bottom: .25rem;
  }

  @include e(input) {
    &:focus { outline: none; border-width: 2px; }

    @extend %color-base;
    font: inherit;

    min-height: 1.875rem;
    min-width: 50%;
    padding: .5rem;
    border: solid 1px $grey-15;

    @include m(big) {
      min-height: 2.5rem;
      min-width: 75%;
    }

    @include m(textarea) {
      min-height: 7rem;
      min-width: 100%;
    }
  }

  @include e(fieldset) {
    margin-bottom: 1rem;
  }

  @include e(select-container) {
    position: relative;

    &:after {
      font-family: FontAwesome;
      content: "\f078";
      color: $green;

      position: absolute;
      top: 0;
      right: 5%;
      line-height: 2.25rem;
      cursor: pointer;
      pointer-events: none;
    }
  }
}
