@mixin _top {
  @include e(top) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    padding: 0 1.25rem;
    margin-bottom: .666rem;
  }

  @include e(title) {
    @include text(large);
    @include color($hero-title__color);

    @include m(thin) {
      @include text(large, thin);
    }

    @include m(article) {
      padding: {
        left: .5rem;
        right: .5rem;
      }

      @include text(xxlarge, x-thin);
      @include color($color--base);
    }
  }

  @include e(link) {
    @include color($hero-title__color);
  }
}

@include b(hero) {
  font-size: 1rem;
  margin: {
    top: 2em;
    bottom: 2em;
  }

  @include _top;

  @include map(
    $height: $hero-map__height,
    $width: $hero-map__width
  );

  @include e(cover) {
    @extend %flexbox;
    @include justify-content(center);
    @include align-items(center);
    @include flex-direction(column);


    height: 300px;
    background: url('images/background.jpg') no-repeat;
    background-position: center center;
    background-size: 100%;
  }

  @include e(cover-text) {
    @include text(xxlarge, normal);
    @include color($white);

    @include m(alt) {
      @include text--alt(xxlarge, x-bold);
    }
  }
}

