.info-box {
  @extend %clearfix;
  @extend %color-base;

  padding: $info-box__padding;
  margin-bottom: $info-box__margin-bottom;

  &--fill-color {
    background-color: $info-box__bg-color;
  }

  &--overflow {
    margin: { left: rem-calc(-16); right: rem-calc(-16); }

    @include only-mobile {
      margin: 0;
    }

  }

  &--alt-color {
    background-color: $green;
    color: $white;
  }

  &--fff {
    background-color: $white;
  }

  &--hero {
    min-width: rem-calc(500);
    padding: rem-calc(20);
  }

  &--shadow {
    box-shadow: rem-calc(2 2 4) rgba(0, 0, 0, 0.3);
  }

  &--padding-top-bottom {
    padding: $info-box-padding-top-bottom__padding;
  }

  &--small {
    @include font-weight(thin);
    
    color: $grey-100;
    font-family: 'MuseoSans';
    font-size: .9375rem;
    margin-right: rem-calc(16);
    margin-bottom: rem-calc(4);
    padding: rem-calc(10);

    display: inline-block;
  }

  &--factsheet {
    h3 {
      @include font-weight(bold);
      
      color: $info-box__icon-color;
      margin-bottom: rem-calc(18);
      padding-bottom: rem-calc(4);
    }
    
    @include font-weight(normal);

    color: $grey-100;
    font-size: rem-calc(18);
  }

  @import "info-box/_body";
  @import "info-box/_column";
  @import "info-box/_header";
  @import "info-box/_link-icon";
  @import "info-box/_link";
  @import "info-box/_row";
}
