@include b(info-box) {
  @extend %clearfix;
  @extend %color-base;

  background-color: $info-box__bg-color;
  padding: $info-box__padding;
  margin-bottom: $info-box__margin-bottom;

  @include e(header) {
    border-bottom: solid $fact-header__border-bottom-color $fact-header__border-bottom-size;
  }

  @include e(column) {
    @extend .one-thirds;
  }

  @include e(body) {
    @include m(no-padding) { padding: 0; }
    @include text(body, thin);

    padding: $info-box-body__padding;
  }

  @include e(row) {
    width: 100%;

    padding-top: 1rem;
    &:not(:last-child) {
      border-bottom: solid 1px $info-box-row__border-bottom;
    }
  }

  @include e(link) {
    @include text(body, bold);
    color: $info-box-link__color;

    padding-bottom: $info-box-link__padding-bottom;
  }

  @include e(link-icon) {
    color: $info-box-link__color;
    margin-right: $info-box-link-icon__margin-right;
  }
}
