@include b(navbar) {
  @extend %clearfix;
  @include flexbox;

  background-color: $navbar__bg-color;
  padding-left: rem-calc(20);

  @include only-mobile {
    padding: rem-calc(0 8);
  }

  @include m(darker) {
    background-color: $navbar__bg-color--darker;
  }

  @import "navbar/_element";
}
