@include b(search-result) {
  @extend %color-base;
  @extend %clearfix;

  border-bottom: solid 1px $grey-5;
  padding: {
    top: 1rem;
    bottom: 1rem;
    left: 0;
    right: 3rem;
  }
  @include only-mobile {
      padding-right: 0;
  }

  @include e(title) {
    @include color($search-result-title__color);
    @include text(headline);

    margin-bottom: 1rem;
  }

  @include e(body) {
    @include text(body, thin);
    margin-bottom: 1.5rem;
  }

  @include e(details) {
    list-style: none;
  }

  @include e(detail) {
    @include text--alt(body, thin);
    @include color($grey-55);

    border-right: solid 1px $grey-5;
    float: left;
    padding: 0 1.25rem;

    &:first-child { padding-left: 0; }
    &:last-child { border-right: 0; }

  }

  @include e(tag) {
    @include text(small);
    @extend %color-base;

    font-style: italic;

    background-color: $grey-5;
    margin-right: 1.25rem;
    padding: .333rem 1rem;
  }
}
