@include b(section) {
  padding: 0 7rem;
  margin-bottom: 7rem;

  @include e(header) {
    @extend %color-base;
    @include text(xlarge, thin);

    margin-bottom: 2.5rem;
    padding-left: 1.25rem;
    padding-bottom: 1.5rem;

    border-bottom: solid 1px $grey-15;
  }

  @include e(body) {
    @extend %clearfix;
    padding: 0 1.25rem;
  }
}
