nav li {
  line-height: 49px;
  float: left;

  h1,h2 { padding: 0px 20px; }

  &.logo {
    width: 265px;
    height: 50px;
    text-indent: -9999px;
    background-size: 190px 40px;
    background-position: 18px 12px;

    &:hover {
      background-color: $green--dark;
    }

    a:hover {
      background-color: transparent;
    }
  }

  &.search-button {
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    border-right: 1px solid $color--nav-border;
    border-left: 1px solid $color--nav-border;
    background: url('images/icon-search.png') no-repeat;
    background-size: 30px 30px;
    background-position: 15px 15px;
    margin-right: 20px;

    &.opened {
      background-image: url('images/icon-search-grey.png');

      &, &:hover {
        background-color: white;
      }
    }

    &:hover { background-color: $green--dark; }
    a:hover { background-color: transparent; }
  }

  a {
    display: block;
    padding: 0px 1rem;
  }

  a:hover {
    background-color: transparent;
  }

  a.active {
    background-color: $color--project-dropdown-active;
  }
}

.nav-main {
  position: fixed;
  background-color: $color--nav-bg;

  li {
    &.active a {
      background-color: $color--nav-active-link;
    }

    a {
      color: $color--nav-link;
      transition: all 0.5s ease;
    }

    a:hover {
      background-color: $color--nav-hover-link;
      transition: all 0.5s ease;
    }

    a:last-child {
      margin-right: 0;
    }
  }
}

.sub-nav {
  background-color: $white;
  border-bottom: 1px solid $grey-33;
  position: fixed;
  top: 50px;

  a {
    color: $grey-100;
    text-transform: none;
  }

  h1 {
    color: $grey-77;
    font-size: 22px;
  }

  h2 {
    color: $grey-55;
  }

  a:hover {
    background-color: $grey-33;
  }
}
