$border: solid rem-calc(1) $grey-55;
$padding-side: rem-calc(14);
$option-padding-top: rem-calc(10);
$search-icon-padding-right: 2 * $padding-side;
$search-icon-width: 0.4 * $wdpa-download-tool-select-height;
$drop-arrow-width: rem-calc(18);
$search-icons-width: $search-icon-padding-right + 2 * $padding-side + $search-icon-width + $drop-arrow-width;

.hover--pointer:hover {
  cursor: pointer;
}
.v-select {
  background-color: $white;
  width: rem-calc(320); max-width: 100%;
  
  &--disabled {
    opacity: 0.5;
  }

  &__search {
    background-color: transparent;
    border: $border;
    padding: 0;
    width: 100%; height: $wdpa-download-tool-select-height;
  
    &--active {
      .drop-arrow {
        transform: rotate(180deg)
      }
    }
  }

    &__dropdown-text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__search-input {
      @include text(small);
      font-style: italic;

      border: none;
      margin: 0;
      padding-left: $padding-side;
      padding-right: $search-icons-width;
      width: 100%; height: 100%;

      &::-ms-clear {
        display: none;
      }

      &:focus {
        @include placeholder { opacity: 0; }
      }

      &--has-selected {
        @include placeholder {
          color: $black;
          opacity: 1;
        }
      }
    }

    &__search-icons {
      @extend .flex-center;

      height: 100%;
      position: absolute;

      right: 0;
      top: 0;
    }

      &__search-icon {
        border: none;
        background: url('images/icons/search.svg') no-repeat center;
        background-size: 85%;
        font: inherit;
        margin-right: $search-icon-padding-right;
        margin-left: $padding-side;
        padding: 0;
        width: $search-icon-width; height: $search-icon-width;

        display: inline-block;

        position: relative;

        &--reset {
          background-image: url('images/icons/close.svg');
          background-size: 75%;
        }

        &::after {
          background-color: $grey-55;
          content: '';
          width: rem-calc(1); height: 0.8 * $wdpa-download-tool-select-height;

          display: inline-block;

          position: absolute;
          right: - $search-icon-padding-right / 2;
          top: - 0.2 * $wdpa-download-tool-select-height;
        }
      }

      .drop-arrow {
        margin-right: $padding-side;
      }

  &__dropdown {
    background-color: $white;
    border: $border;
    border-top: none;
    overflow-y: scroll; 
    width: 100%; max-height: rem-calc(200);

    position: absolute;
    left: 0;
  }

    &__option-label {
      @extend .flex;
      @extend .flex-v-center;

      position: relative;

      &:hover {
        background-color: rgba($green, 0.5);
        cursor: pointer;
      }
    }

      &__option-text {
        @include text(small);
        font-style: italic;
        line-height: 1;


        padding: rem-calc(10) $padding-side;
        width: 100%;
      }

      &__default-radio {
        @extend %hidden-input;
        top: 100%;
        left: 50%;
      }
}

@include custom_input_checked('.v-select__default-radio', '.v-select__option-text') {
  background-color: rgba($green, 0.85);
  color: $white;
}

@include custom_input_focus('.v-select__default-radio', '.v-select__option-text') {
  $focus-border-width: rem-calc(2);
  $focus-blue: #5E9ED6;
  
  border: solid $focus-border-width #5E9ED6;
  padding: ($option-padding-top - $focus-border-width) ($padding-side - $focus-border-width)
}