$dark-blue: rgb(43,49,70);
$grey-blue: #848184;
$blue: #317fce;

// green palette
  $green: #71a32b;
  $green--dark: #699728;
  $green--darker: #415519;
  $green--light: #83af46;
  $brown: #702412;
  $white: #ffffff;

// blue palette
  $blue: #1d62b1;
  $blue--dark: #1a589f;
  $blue--light: #3a76bb;
  $blue--lighter: #d2e0ef;

// red palette
  $red: #d80000;
  $red--dark: #c20000;
  $red--light: #de2626;
  $red--lighter: #f7cccc;

// orange palette
  $orange: #ef5833;
  $orange--dark: #de522f;
  $orange--lighter: #f16e4d;
  $brown-bg: #fcded6;
  $yellow: #ffe600;

// grey palette
  $grey-100: #333333;
  $grey-77: #666666;
  $grey-55: #8f8f8f;
  $grey-33: #bbbbbb;
  $grey-15: #dfe0e1;
  $grey-5: #f2f2f2;
  $gre-4: #d8d8d8;
  $grey-3: #f8f8f8;

// palettes
  $palettes:
    $green $green--dark $green--light $brown $white,
    $blue $blue--dark $blue--light $blue--lighter,
    $red $red--dark $red--light $red--lighter,
    $orange $orange--dark $orange--lighter $brown-bg $yellow,
    $grey-100 $grey-77 $grey-55 $grey-33 $grey-15 $grey-5 $grey-3 !default;

// atoms/leaflet-control
  $leaflet-control__color: $grey-100 !default;
  $leaflet-control__bg-color: $white !default;
  $leaflet-control__disabled-color: $grey-5 !default;
  $leaflet-control__border: $grey-15 !default;

// molecules/link-with-icon
  $link-with-icon__color: $green !default;
  $link-with-icon__bg-color: $white !default;

// molecules/table
  $table-link__color: $green !default;

// molecules/reference
  $reference-link__color: $green !default;
  $reference-link-icon__color: $green !default;

// molecules/big-button
  $big_button__color: $white !default;
  $big_button__bg-color: $green !default;

// molecules/horizontal-bar
  $horizontal-bar__bg-color: $green !default;
  $horizontal-bar-inner__bg-color: $green--darker !default;

// molecules/value
  $value-number__color: $green !default;
  $value-number-alt-color__color: $green--darker !default;

// organisms/navbar
  $navbar__bg-color: $green !default;
  $navbar-element__color: $white !default;

// organisms/hero
  $hero-title__color: $green !default;

// organisms/fact
  $fact-header__color: $grey-100 !default;
  $fact-header__border-bottom-color: $grey-33 !default;
  $fact-external-link__color: $green !default;

// organisms/footer
  $footer__bg-color: $grey-5 !default;
  $footer-link__color: $green !default;
  $footer-link-icon__color: $green !default;
  $footer-row__border-bottom: $grey-33 !default;

$color--base: $grey-77;
$color--base-btn-bg: $green;
$color--base-btn-hover-bg: $green--dark;
$color--base-btn-text: $white;

$color--bg: $dark-blue;

$color--leaflet-control: $dark-blue;
$color--leaflet-control-text: $white;
$color--leaflet-control-hover-bg: $white;
$color--leaflet-control-hover-text: $dark-blue;
$color--leaflet-control-border: $white;

$color--leaflet-cluster-bg: $dark-blue;
$color--leaflet-cluster-border: $white;
$color--leaflet-cluster-text: $white;

$color--nav-bg: $green;
$color--nav-active-link: $green--dark;
$color--nav-link: $white;
$color--nav-hover-link: $green--dark;
$color--nav-border: $grey-33;

$color--header-active-link: $grey-33;
$color--header-link: $grey-100;
$color--header-hover-link: $grey-33;

$color--footer-bg: $dark-blue;
$color--footer: $grey-33;
$color--footer-link: $grey-33;

$color--project-header-bg: $white;
$color--project-header-border: $grey-15;
$color--project-header-small: $grey-77;
$color--project-item-border: $grey-33;
$color--project-bg: $grey-33;
$color--project-item-bg: $white;
$color--project-dropdown-bg: $grey-33;
$color--project-dropdown-active: $grey-33;

$color--pa-text: $grey-77;
$color--pa-header: $grey-77;
$color--pa-table-border: $grey-33;
$color--pa-table-attribute: $grey-100;
$color--pa-infographic-bg: $dark-blue;
$color--pa-infographic-text: $white;
$color--pa-infographic-border: $grey-15;

$color--home-filters-bg: $white;
$color--home-filters-hover-bg: $grey-33;
$color--home-filters-border: $grey-33;
$color--home-filters-child-border: $grey-33;
$color--home-filters-text: $grey-77;

$color--map-disclaimer-bg: transparentize($dark-blue, 0.5);
$color--map-disclaimer-text: $white;

$color--search-download-bg: $white;
$color--search-download-text: $grey-100;
$color--search-download-border: $grey-33;

$color--search-bar-bg: $white;
$color--search-input-bg: $grey-33;
$color--search-input-bg-hover: $grey-15;
$color--search-input-text: $grey-100;

$color--search-header-bg: $white;
$color--search-filters-bg: $white;
$color--search-filters-header: $dark-blue;
$color--search-filters-active: $green--dark;
$color--search-filters-text: $white;
$color--search-switch-border: $white;
$color--search-filters-border: $grey-33;
$color--search-result-small-text: $grey-33;

$color--download-modal-text: $grey-77;
$color--download-modal-overlay-bg: rgba(0,0,0,0.5);
$color--download-modal-input-bg: $grey-33;
