// molecules/download-link
  $download-icon__margin-right: 10px !default;

// organisms/hero
  $hero-map__height: 380px !default;
  $hero-map__width: 100% !default;

// organisms/navbar
  $navbar__height: 50px !default;
