$font-family--xxxxlarge: 'MuseoSlab-700' !default;
$font-size--xxxxlarge: 4.8rem !default;
$line-height--xxxxlarge: 4.666rem !default;

$font-family--xxxxlarge-alt: 'MuseoSans-100' !default;
$font-size--xxxxlarge-alt: 4.8rem !default;
$line-height--xxxxlarge-alt: 4.666rem !default;

$font-family--xxxlarge: 'MuseoSans-100' !default;
$font-size--xxxlarge: 4rem !default;
$line-height--xxxlarge: 4rem !default;

$font-family--xxlarge: 'MuseoSlab-700' !default;
$font-size--xxlarge: 3.2em !default;
$line-height--xxlarge: 3.571rem !default;

$font-family--xxlarge-bold: 'MuseoSlab-900' !default;
$font-size--xxlarge-bold: 3.2em !default;
$line-height--xxlarge-bold: 3.571rem !default;

$font-family--xxlarge-alt: 'MuseoSans-100' !default;
$font-size--xxlarge-alt: 3.2em !default;
$line-height--xxlarge-alt: 3.571rem !default;

$font-family--xxlarge-alt-bold: 'MuseoSans-500' !default;
$font-size--xxlarge-alt-bold: 3.2em !default;
$line-height--xxlarge-alt-bold: 3.571rem !default;

$font-family--large: 'MuseoSans-500' !default;
$font-size--large: 1.6em !default;
$line-height--large: 2rem !default;

$font-family--medium: 'MuseoSans-500' !default;
$font-size--medium: 1.4em !default;
$line-height--medium: 2em !default;

$font-family--medium-alt: 'MuseoSlab-700' !default;
$font-size--medium-alt: 1.4em !default;
$line-height--medium-alt: 2em !default;

$font-family--headline: 'MuseoSans-100' !default;
$font-size--headline: 1.2em !default;
$line-height--headline: 1.666em !default;

$font-family--headline-alt: 'MuseoSlab-100' !default;
$font-size--headline-alt: 1.2em !default;
$line-height--headline-alt: 1.666em !default;

$font-family--body: 'MuseoSans-300' !default;
$font-size--body: 1em !default;
$line-height--body: 1.333em !default;

$font-family--body-alt: 'MuseoSlab-100' !default;
$font-size--body-alt: 1em !default;
$line-height--body-alt: 1.333em !default;

$font-family--body-bolder: 'MuseoSans-700' !default;
$font-size--body-bolder: 1em !default;
$line-height--body-bolder: 1.333em !default;

$font-family--small: 'MuseoSans-500' !default;
$font-size--small: .8125em !default;
$line-height--small: 1.333em !default;

$font-family--small-bolder: 'MuseoSans-700' !default;
$font-size--small-bolder: .8125em !default;
$line-height--small-bolder: 1.333em !default;


// atoms/headers
  $header__font-size: $font-size--headline !default;

// atoms/leaflet-control
  $leaflet-control__font-size: $font-size--body !default;

//
