$weights: (
  x-thin: 100,
  thin:   300,
  normal: 500,
  bold:   700,
  x-bold: 900
);

$form-factors: (
  xxxxlarge: (
    font-size: 4.8rem, line-height: 4.666rem
  ),
  xxxxlarge-alt: (
    font-size: 4.8rem, line-height: 4.666rem
  ),
  xxxlarge: (
    font-size: 4rem, line-height: 4rem
  ),
  xxlarge: (
    font-size: 3.2rem, line-height: 3.571rem
  ),
  xxlarge-bold: (
    font-size: 3.2rem, line-height: 3.571rem
  ),
  xxlarge-alt: (
    font-size: 3.2rem, line-height: 3.571rem
  ),
  xxlarge-alt-bold: (
    font-size: 3.2rem, line-height: 3.571rem
  ),
  xlarge: (
    font-size: 2.4rem, line-height: 2.666rem
  ),
  large: (
    font-size: 1.6rem, line-height: 2rem
  ),
  medium: (
    font-size: 1.4rem, line-height: 2rem
  ),
  medium-alt: (
    font-size: 1.4rem, line-height: 2rem
  ),
  headline: (
    font-size: 1.2rem, line-height: 1.666rem
  ),
  headline-alt: (
    font-size: 1.2rem, line-height: 1.666rem
  ),
  headline-alt-bolder: (
    font-size: 1.2rem, line-height: 1.666rem
  ),
  body: (
    font-size: 1rem, line-height: 1.333rem
  ),
  body-alt: (
    font-size: 1rem, line-height: 1.333rem
  ),
  body-bolder: (
    font-size: 1rem, line-height: 1.333rem
  ),
  body-alt-bolder: (
    font-size: 1rem, line-height: 1.333rem
  ),
  small: (
    font-size: .8125rem, line-height: 1.333rem
  ),
  small-bolder: (
    font-size: .8125rem, line-height: 1.333rem
  )
);

@function weight($name) {
  @return map-get($weights, $name);
}

@function form-factor($name, $property: null) {
  $form-factor: map-get($form-factors, $name);

  @if($property) {
    @return map-get($form-factor, $property);
  } @else {
    @return $form-factor;
  }
}

@mixin form-factor($name) {
  @each $property, $value in form-factor($name) {
    #{$property}: #{$value};
  }
}

// atoms/leaflet-control
$leaflet-control__font-size: form-factor(body, line-height) !default;
