%clearfix {
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}

@include b(half) {
  @extend %with-right-border;
  @include span-columns(6);

  @include only-mobile {
    @include span-columns(12);
  }

  @include m(no-margin) {
    width: 50%;
    margin: 0;
  }

  @include m(with-separator) {
    position: relative;
    border-right: solid 0.125rem $grey-15;

    &:before { top: 0;    }
    &:after  { bottom: 0; }
    &:before, &:after {
      background-color: $grey-5;

      content: "";
      width: .25rem;
      height: .5rem;
      position: absolute;
      right: -.25rem;
    }
  }
}

@include b(one-thirds) {
  @include span-columns(4);

  @include m(no-margin) {
    width: 33.33%;
    margin: 0;
  }

  @media (max-width: 769px) { @include span-columns(12); }
}

@include b(two-thirds) {
  @include span-columns(8);
  @media (max-width: 769px) { @include span-columns(12); }
}

@include b(one-fourths) {
  @include span-columns(3);
  @media (max-width: 769px) { @include span-columns(12); }
}

@include b(three-fourths) {
  @include span-columns(9);
  @media (max-width: 769px) { @include span-columns(12); }
}

@include b(flex-start) {
  @extend %flexbox;

  @include only-mobile {
    flex-direction: column;
  }
}

@include b(space-between) {
  @extend %flexbox;
  @include justify-content(space-between);
}

@include b(right-padded) {
  padding-right: 5%;
}
