%clearfix {
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}

@include b(half) {
  @include span-columns(6);

  @include only-mobile {
    @include span-columns(12);
  }

  @include m(no-margin) {
    width: 50%;
    margin: 0;
  }

  @include m(with-separator) {
    position: relative;
    border-right: solid rem-calc(2) $grey-15;

    &:before { top: 0;    }
    &:after  { bottom: 0; }
    &:before, &:after {
      background-color: $grey-5;

      content: "";
      width: rem-calc(4);
      height: rem-calc(8);
      position: absolute;
      right: -.25rem;
    }
  }
}

@include b(one-thirds) {
  @include span-columns(4);

  @include m(no-margin) {
    width: 33.33%;
    margin: 0;
  }

  @media (max-width: 769px) { @include span-columns(12); }
}

@include b(two-thirds) {
  @include span-columns(8);
  @media (max-width: 769px) { @include span-columns(12); }
}

@include b(one-fourths) {
  @include span-columns(3);
  
  @media (max-width: 769px) { @include span-columns(12); }
}

@include b(three-fourths) {
  @include span-columns(9);
  @media (max-width: 769px) { @include span-columns(12); }
}

@include b(two-fiths) { 
  @include only-mobile { flex: 0 0 100% };

  flex: 0 0 40%; 
}

@include b(three-fiths) { 
  @include only-mobile { flex: 0 0 100% };

  flex: 0 0 60%; 
}

@include b(flex-start) {
  @extend %flexbox;

  @include only-mobile {
    flex-direction: column;
  }
}

@include b(space-between) {
  @extend %flexbox;
  @include justify-content(space-between);
}

.space-around {
  @include justify-content(space-around); 
}

@include b(right-padded) {
  padding-right: 5%;
}

.align-items-end {
  @include align-items(flex-end);
}

.flex-row {
  @extend %flexbox;
  @include flex-flow(row nowrap);
}

.flex-row-wrap {
  @extend %flexbox;
  @include flex-flow(row wrap);
}

.flex-column-3 {
  @include only-mobile { flex: 0 0 100% };

  flex: 0 0 33.3%;
}

.flex-1-quarter {
  @include only-mobile { flex: 0 0 100% };

  flex: 0 0 25%;
}

.flex-3-quarters {
  @include only-mobile { flex: 0 0 100% };

  flex: 0 0 75%;
}