@include e(group-title) {
  @include text(body);
  @include color-with-state($color--base, (
    hover: $link__color--hover,
    active: $link__color--pressed,
  ));

  cursor: pointer;

  padding: rem-calc(8) 0;
  border-bottom: solid rem-calc(1) $grey-4;
  margin-bottom: rem-calc(8);
  width: 100%;

  @include m(no-border) {
    border: 0;
  }

  &.is-open {
    &:after { float: right; @include fa(chevron-up); }
  }

  &.is-closed {
    &:after { float: right; @include fa(chevron-down); }
  }
}
