&__value {
  @include color-with-state($color--base, (
    hover: $link__color--hover,
    active: $link__color--pressed,
  ));

  display: block;
  width: 100%;
  padding: rem-calc(4);
  cursor: pointer;

  &--smaller {
    @include text(small);
  }
}

&__sub-value {
  padding-left: rem-calc(14);
}