%show-hide-styles {
  @include font-weight(bold);

  border: solid rem-calc(2) $button--hide-border-color;
  border-radius: rem-calc(4);
  font-family: 'MuseoSlab';
  font-size: rem-calc(15);
  color: $button--hide-color;
  padding: rem-calc(0 18);

  &:before {
    @include text--icon(body);

    margin-right: rem-calc(8);
  }
}

.button {
  &--hide {
    @extend %show-hide-styles;

    &:before { content: '\f070'; }
  }

  &--show {
    @extend %show-hide-styles;

    &:before { content: '\f06e'; }
  }
}