@include b(disclaimer) {
  cursor: pointer;

  @include color($color--map-disclaimer-text);
  @include text--alt(small, thin);

  background: $color--map-disclaimer-bg;
  display: block;
  padding: .333rem 6rem 1rem 6rem;
  text-align: center;
  width: 100%;
  z-index: $z-index-10;

  @include only-mobile {
    padding: .5rem 1rem;
  }

  @include e(arrow) {
    content: "";
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 25px solid #f2f2f2;
    top: 100%;
    position: absolute;
    left: 50%;
    margin-left: -35px;
  }

  @include e(arrow-inner) {
    position: relative;

    &:before {
      content: "";
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 6px solid #333;
      bottom: 13px;
      position: absolute;
      left: -5px;
    }
    &:after {
      content: "";
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid #f2f2f2;
      bottom: 15px;
      position: absolute;
      left: -6px;
    }
  }
}
