
@mixin text($form-factor, $weight: normal) {
  font-family: 'MuseoSans';

  @include font-weight($weight);
  @include form-factor($form-factor);
}

@mixin text--alt($form-factor, $weight: normal) {
  font-family: 'MuseoSlab';
  font-weight: weight($weight);

  @include form-factor($form-factor);
}

@mixin line-height($line-height) {
  line-height: $line-height;
}

@mixin font-weight($weight) {
  font-weight: weight($weight);
}
