@import url(http://fonts.googleapis.com/css?family=Lato:100,300);

@font-face {
  font-family: 'MuseoSans-700';
  font-weight: normal;
  font-style: normal;
  src:  url('fonts/MuseoSans-700.eot') format('oet'),
        url('fonts/MuseoSans-700.ttf') format('ttf'),
        url('fonts/MuseoSans-700.woff') format('woff');
}

@font-face {
  font-family: 'MuseoSans-300';
  font-weight: normal;
  font-style: normal;
  src:  url('fonts/MuseoSans-300.eot') format('oet'),
        url('fonts/MuseoSans-300.ttf') format('ttf'),
        url('fonts/MuseoSans-300.woff') format('woff');
}

@font-face {
  font-family: 'MuseoSans-500';
  font-weight: normal;
  font-style: normal;
  src:  url('fonts/MuseoSans-500.eot') format('oet'),
        url('fonts/MuseoSans-500.ttf') format('ttf'),
        url('fonts/MuseoSans-500.woff') format('woff');
}

@font-face {
  font-family: 'MuseoSans-100';
  font-weight: normal;
  font-style: normal;
  src:  url('fonts/MuseoSans-100.eot') format('oet'),
        url('fonts/MuseoSans-100.ttf') format('ttf'),
        url('fonts/MuseoSans-100.woff') format('woff');
}

@font-face {
  font-family: 'MuseoSlab-500';
  font-weight: normal;
  font-style: normal;
  src:  url('fonts/MuseoSlab-500.eot') format('oet'),
        url('fonts/MuseoSlab-500.ttf') format('ttf'),
        url('fonts/MuseoSlab-500.woff') format('woff');
}

@mixin text--primary-color($color: $green) {
  color: $color;
}

@mixin text--large($font-family: $font-family--large, $font-size: $font-size--large, $line-height: $line-height--large) {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin text--headline($font-family: $font-family--headline, $font-size: $font-size--headline, $line-height: $line-height--headline) {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin text--body($font-family: $font-family--body, $font-size: $font-size--body, $line-height: $line-height--body) {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
}

