@mixin label($bg-color) {
  @include text(small);
  @extend %color-base;

  font-style: italic;

  background-color: $bg-color;
  margin-right: 1.25rem;
  padding: .333rem 1rem;

  @include m(code) {
    font-size: inherit;
    font-family: monospace;
    font-style: normal;
    word-wrap: break-word;

    padding: .1rem .5rem;
    border-radius: .25rem;
    margin-right: 0;
    margin-bottom: 2rem;
  }
}

@include b(label) {
  @include label($grey-5);
}
