@mixin leaflet-control-zoom($color: $leaflet-control__color, $bg-color: $leaflet-control__bg-color, $font-size: $leaflet-control__font-size) {
  .leaflet-control-layers-base {
    @include text(small, bold);
    @include color($green);
  }

  .leaflet-control-zoom {
    @include _leaflet-control($color: $color, $bg-color: $bg-color, $font-size: $font-size);
  }

  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out,
  .leaflet-control-zoom-in:hover,
  .leaflet-control-zoom-out:hover {
    display: block;
    line-height: 20px;
    margin: 5px;
    opacity: 1;
    width: 25px;

    &:first-child {
      border-bottom: solid 1px $leaflet-control__border;
    }

    &.leaflet-disabled {
      background-color: $leaflet-control__bg-color;
      color: $leaflet-control__disabled-color;
      cursor: not-allowed;
    }
  }
}

@mixin leaflet-control-layers($color: $leaflet-control__color, $bg-color: $leaflet-control__bg-color, $font-size: $leaflet-control__font-size) {
  .leaflet-control-layers-list {
    @include _leaflet-control($color: $color, $bg-color: $bg-color, $font-size: $font-size);
    display: block;
  }

  .leaflet-control-layers {
    margin-top: 1.25rem;
    margin-left: 1.25rem;
    label {
      cursor: pointer;
      display: inline-block;
      line-height: 20px;
      margin: 5px 0;
      padding: 0 15px;


      &:first-child {
        border-right: solid 1px $leaflet-control__border;
      }
    }

    input,
    .leaflet-control-layers-toggle {
      display: none;
    }
  }
}

@mixin _leaflet-control($color, $bg-color, $font-size) {
  @include _leaflet-control__margins;
  @include _leaflet-control--hover($color: $color, $bg-color: $bg-color);

  border: 0;
  border-radius: 0;

  box-shadow: none;
  background-color: $bg-color;

  font-size: $font-size;
  color: $color;

  transition: background-color .1s;
}

@mixin _leaflet-control__margins {
  .leaflet-top .leaflet-control { margin-top: 20px; }
  .leaflet-left .leaflet-control { margin-left: 20px; }
  .leaflet-right .leaflet-control { margin-right: 20px; }
  .leaflet-bottom .leaflet-control { margin-bottom: 20px; }
}

@mixin _leaflet-control--hover($color, $bg-color) {
  @at-root .leaflet-control-layers-expanded {
    background-color: $color;
    color: $bg-color;
    cursor: pointer;
    padding: 0;
    transition: background-color .1s;
  }
}
