@include b(logos) {
  @include e(logo) {
    margin: 0 .625rem;
  }
}
@mixin unepwcmc-logo {
  width: 121px;
  height: 52px;

  background: url("https://s3.amazonaws.com/wcmc.logo/UN-Environment-WCMC+logo+2017+white.svg") no-repeat;

  background-size: 80%;
  background-position: center;
}
.unepwcmc-logo { @include unepwcmc-logo; }
.unepwcmc-logo--color {
  @include unepwcmc-logo;
  background-image: url("https://s3.amazonaws.com/wcmc.logo/UN-Environment-WCMC+logo+2017.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin iucn-logo {
  width: 50px;
  height: 50px;


  background: asset-url('images/IUCN_logo@2x.png') no-repeat;
  background-size: 65%;
  background-position: center;
}
.iucn-logo { @include iucn-logo; }

@mixin protectedplanet-logo {
  padding-left: 2.5rem;
  content: "";
  display: block;
  background: asset-url("images/hand-solo.png") center left/2rem no-repeat;
}
.protectedplanet-logo { @include protectedplanet-logo; }
