@include b(o-overlay) {
  @include flexbox;
  @include justify-content(flex-start);
  @include align-items(flex-start);

  position: absolute;
  left: 0;
  top: 0;

  height: 100%;
  width: 100%;

  padding: 1.25rem;
}
