@mixin sort-arrow($direction, $margin) {
  $unicodes: (
    up: "\f0de",
    down: "\f0dd",
    both: "\f0dc"
  );

  content: map-get($unicodes, $direction);
  font-family: 'FontAwesome';

  margin-#{map-get($margin, direction)}: map-get($margin, value);
}
