.d3-horizontal-bar-chart {
    &-animate {
      .bar { animation: showBar .8s forwards linear; }
      .bar-label { animation: showBarValue .2s .8s forwards linear; }
    }

  .background { fill: rgba($blue--marine-1, 0.4); }

  .bar {
    fill: rgba(0, 0, 0, .4);
    transform: scaleX(0);
  }

  .bar-label {
    @extend .u-text-sans;
    fill: $white;
    font-size: rem-calc(12);
    opacity: 0;
  }

  .gridlines {
    .domain { stroke-width: 0; }

    .tick { 
      line { stroke: $white; }
    }
  }

  .xaxis {
    .domain { stroke-width: 0; }

    text { 
      fill: $blue--marine-5;
      font-size: rem-calc(12);
    }
  }

  .yaxis {
    .domain { stroke-width: 0; }    

    text {
      fill: $blue--marine-5;
      font-size: rem-calc(16); 
    }
  }
}

@keyframes showBarValue {
  to {
    opacity: 1;
  }
}

@keyframes showBar {
  to {
    transform: scaleX(1);
  }
}