.v-interactive-multiline {
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes grow {
    to {
      transform: scale(1);
    }
  }
  
  &__button {
    font-family: 'MuseoSans';
    padding: rem-calc(0 10);
  }

  &__chart {
    position: relative;
  }

    &__axis {
      .domain { stroke: $grey-55; }

      .tick {
        line { stroke-width: 0; }
        text { fill: $blue--marine-5; }
      }
    }

    &__gridlines {
      .domain { stroke-width: 0; }

      .tick { 
        line { stroke: $grey-33; }
      }
    }

    &__target {
      .domain { stroke-width: 0; }

      .tick { 
        line { 
          stroke: $orange--marine; 
          stroke-width: 3;
          stroke-dasharray: 10px;
        }

        text {
          fill: $orange--marine;
          font-size: 12px;
          font-weight: bold;
          text-anchor: start;

          transform: translate(10px, -21px);
        }
      } 
    }

    &__line {
      stroke: $blue--marine-5;
      stroke-linecap: round;
      stroke-width: 5;

      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
    }

    &__line-active {
      animation: dash 2s linear forwards 1;
    }

    &__datapoint {
      cursor: pointer;
      fill: white;
      stroke: $blue--marine-5;
      
      transform-origin: 50%;
      transform: scale(0);

      .v-interactive-multiline__datapoints-active & {
        animation: grow .2s linear forwards 1s;
      }
    }

  &__tooltip-wrapper {
    position: absolute;
  }

  &__tooltip {
    fill: white;
    font-family: 'MuseoSans';
    font-size: rem-calc(22);
    display: none;
    text-anchor: middle;
  }

  &__tooltip-active {
    display: block;
  }
}