@include e(label) {
  @include text(body, thin);
  @include line-height(1.666em);

  @include m(link) {
    color: $table-link__color;
  }

  @include m(align-top) {
    vertical-align: top;
  }

  padding-top: .65rem;
  padding-right: .65em;
  vertical-align: middle;
  text-align: left;
};
