@include e(row) {
  @include text(body, thin);
  border-bottom: solid rem-calc(1) $grey-15;
  margin-bottom: rem-calc(10);
  padding: rem-calc(5 0);

  @include m(last) {
    td { padding-top: 1em; }
    font-weight: bolder;
  }

  @include m(first) {
    td { padding-top: rem-calc(24); }
  }
};
