@include e(cover) {
  @include m(above) {
    width: 100%;
    margin-bottom: rem-calc(48);
  }

  height: 100%;
  width: 65%;

  @include only-mobile {
    width: 100%;
    margin-bottom: rem-calc(8);
  }
}
