@include e(story) {
  float: left;
  height: 100%;
  width: 28%;
}

@include e(story-border) {
  border-bottom: solid 1.25rem $grey-5;
  margin-top: 1.25rem;
  width: 100%;
}

@include e(story-body) {
  padding: {
    left: 2.5rem;
    top: 2rem;
  }

  background-color: white;
  margin-left: -6rem;

  height: 100%;
}

@include e(story-title) {
  @include text(medium, bold);
  @include color($green);
  margin-bottom: 1rem;
}

@include e(story-content) {
  @include text(body, thin);
  margin-bottom: 1.5rem;
}
