//----------------------------------------
// marine page template variables
//----------------------------------------
$marine-accent-color: $orange--lighest;

//----------------------------------------
// marine page utility classes
//----------------------------------------
.marine-4 { color: $blue--marine-4; }

//----------------------------------------
// marine page template
//----------------------------------------
.template--marine {
  color: $blue--marine-5;

  //----------------------------------------
  // html elements
  //----------------------------------------

  h4 {
    border-bottom: solid rem-calc(1) $blue--marine-5;
    color: $blue--marine-5;
    margin-bottom: rem-calc(22);
    padding-bottom: rem-calc(8);
  }

  p {
    font-family: 'MuseoSans';
  }

  a {
    color: $blue--marine-3;
    text-decoration: underline;

    &:hover { text-decoration: none; }

    &.leaflet-control-zoom-in,
    &.leaflet-control-zoom-out { text-decoration: none; }
  }

  //----------------------------------------
  // sections
  //----------------------------------------

  .section--block-color {
    @extend .u-bg--marine-2;

    a { color: white; }
  }

  //----------------------------------------
  // header
  //----------------------------------------
  &__header {
    background: asset-url('images/hero/hero-marine-min.jpg') center no-repeat;
    background-size: cover;
    height: rem-calc(600);

    position: relative;
  }

  .header__introduction {
    color: $white;
    font-size: rem-calc(18);
    line-height: 1.4;
    padding: rem-calc(12 18);

    @include breakpoint(medium){ font-size: rem-calc(24); }

    p:first-child { margin-bottom: rem-calc(14); }
  }

  //----------------------------------------
  // sticky nav
  //----------------------------------------
  .v-sticky-nav {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }

  //----------------------------------------
  // national waters vs high seas
  // infographic
  //----------------------------------------
  .infographic {
    padding: rem-calc(30 24);

    &__left {
      @include breakpoint($medium){ padding-right: rem-calc(12); }
      @include breakpoint($large){ padding-right: rem-calc(60); }
    }

    &__right {
      margin-top: rem-calc(18);

      @include breakpoint($medium){ 
        margin-top: 0;
        padding-left: rem-calc(12);
        text-align: right; 
      }

      @include breakpoint($large){ padding-left: rem-calc(60); }
    }

      &__header {
        font-size: rem-calc(22);
        border-bottom: solid rem-calc(1) $blue--marine-5;
        padding-bottom: rem-calc(8);
        margin-bottom: rem-calc(18);

        @include breakpoint($medium){ margin-bottom: rem-calc(22); }

        &--fancy {
          @include breakpoint($medium){ 
            border-bottom: none;
            padding: 0; 
            text-align: center;

            position: relative;
          }

          &:before,
          &:after {
            @include breakpoint($medium){ 
              background-color: $blue--marine-5;
              content: '';
              width: 30%; height: rem-calc(1); 

              position: absolute;
              top: 50%;
            }

            @include breakpoint($large){ width: 36%; }
          }
          
          &:before { left: 0; }
          &:after { right: 0; }
        }
      }

      &__intro { 
        margin-bottom: rem-calc(30); 

        @include breakpoint($medium){ margin-bottom: rem-calc(50); }

        p { margin-bottom: rem-calc(14); }
      }

      &__bar {
        background-color: $blue--marine-1;
        margin: rem-calc(24 0 34 0);
        width: 100%; height: rem-calc(90);

        position: relative;
        
        @include breakpoint($medium){ 
          margin: rem-calc(34 0 54 0); 
          height: rem-calc(140);
        }

        @include breakpoint($large){  }

        &--national { background-color: $blue--marine-4; }
        &--pa { background-color: $marine-accent-color; }
      }

        &__bar-layer {
          height: 100%;

          display: block;
          position: absolute;
          left: 0;

          &--highseas {
            @include breakpoint($medium){
              left: auto;
              right: 0;
            }
          }
        }

      &__pa { display: block; }

      &__km { 
        font-size: rem-calc(20);

        @include breakpoint($medium){ font-size: rem-calc(36); }
      }

      &__percent {
        height: 100%;

        position: absolute;
        top: rem-calc(16);

        @include breakpoint($medium){ top: rem-calc(12); }

        &--national {
          color: $blue--marine-1;

          left: rem-calc(10);

          @include breakpoint($medium){ left: rem-calc(14); }
        }

        &--highseas {
          color: $blue--marine-4;
          text-align: right;

          right: rem-calc(10);

          @include breakpoint($medium){ right: rem-calc(14); }
        }

        &__title {
          font-size: rem-calc(12);
          margin-bottom: rem-calc(10);

          display: block;

          @include breakpoint($medium){ font-size: rem-calc(22); }
        }
      }
  }
}

//----------------------------------------
// sections within the marine page 
// template
//----------------------------------------
.t--marine {
  &__section {
    padding-top: rem-calc(30);
    padding-bottom: rem-calc(30);
    position: relative;

    @include only-desktop {
      padding-top: rem-calc(80);
      padding-bottom: rem-calc(80);  
    }
  }

  &__section--fact-bottom {
    padding-bottom: rem-calc(180);

    @include breakpoint($large){ padding-bottom: rem-calc(300); }
  }

  &__section--fact-top {
    padding-top: rem-calc(180);

    @include breakpoint($large){ padding-top: rem-calc(160); }
  }

    &__section__introduction {
      @extend .text--standard;
      margin-bottom: 2.25em;

      @include breakpoint($medium){ margin-bottom: 3.25em; }

      p { margin-bottom: rem-calc(14); }
    }

    &__counter {
      background: rgba(white, .4);
      margin-top: rem-calc(40);
      padding: rem-calc(20 0 20 24);

      position: absolute;
      top: 0;
      right: 0;
    }

  &__map-disclaimer {
    color: $blue--marine-4;
    font-family: 'MuseoSans';
    font-size: rem-calc(8);
    padding-top: rem-calc(14);
    padding-bottom: rem-calc(14);
    text-align: center;

    @include breakpoint($medium){ font-size: rem-calc(13); }
  }
}