.template--site {

  .header__links {
    margin-bottom: rem-calc(25);

    display: inline-block;
  }

  .button--hide,
  .button--show {
    margin-left: rem-calc(16);

    position: relative;
    top: rem-calc(-1);
  }

  .section--factsheet {
    @extend .flex-row-wrap;

    @include only-desktop {
      @include flex-flow(row nowrap);
    }
  }

    .info-box--factsheet {
      @include only-mobile {
        margin-right: 0;
      }
    }
}