.template--site {

  .header--site-connections {
    padding-right: rem-calc(16);
    border-right: solid rem-calc(1) $grey-4;
  }

  .button--hide,
  .button--show {
    margin-left: rem-calc(16);

    position: relative;
    top: rem-calc(-1);
  }
}