@include e(title) {
  @include text--alt(headline, bold);
  @include line-height(2rem);

  margin-bottom: rem-calc(8);

  @include m(warning) { color: $alert-warning--color; }
  @include m(success) { color: $alert-success--color; }
  @include m(info) { color: $alert-info--color; }
}
