@include e(circle) {
  height: 100%;

  @include m(above) {
    margin: 1.75rem 0;
    margin-right: 0;
    float: none;
  }

  @include m(smaller) {
    $circle-diameter: 10rem;
    height: $circle-diameter;
    width: $circle-diameter;
  }
}
