@include e(circle-inner) {
  border-radius: 100%;
  width: 100%;
  height: auto;

  @include only-mobile {
    width: 100%;
    border-radius: 0;
    object-fit: cover;
    height: rem-calc(150);
    margin-bottom: rem-calc(8);
  }
}
