ul, ol {
  margin-left: 2.5rem;
}

ol {
  counter-reset: item;

  li {
    &:before {
      content: counter(item) ". ";
      counter-increment: item;
    }
  }
}

ul li, ol li {
  @extend .article__paragraph;

  position: relative;

  &:before {
    content: '\2022'; // circle bullet
    color: $article-list-index__color;

    font-size: 1rem;
    font-weight: 700;

    position: absolute;
    left: -1rem;
  }
}
