ol {
  counter-reset: item;

  li {
    &:before {
      content: counter(item) ". ";
      counter-increment: item;
    }
  }
}

ul li, ol li {
  @extend .article__paragraph;

  margin-bottom: 1.5rem;
  position: relative;

  &:before {
    content: '\2022'; // circle bullet
    color: $green;

    font-size: 1rem;
    font-weight: 700;
    line-height: 1.6rem;

    position: absolute;
    left: -1.5rem;
  }
}
